<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.fitmeet.domain.diet.dao.DietDao">

	<sql id="DietColumns">
		id, 
		userId,
		date,
		mealType,
		description,
		imageUrl,
		createdAt, 
		updatedAt, 
		deleteAt
	</sql>
	
	<!-- 날짜로 식단 조회 -->
	<select id="findByDate" parameterType="int" resultType="Diet">
		SELECT <include refid="DietColumns"/>
        FROM `diet`
        WHERE id = #{id}
        AND deleted_at IS NULL
	</select>
	
	<!-- 식단 등록 -->
	<insert id="insertDiet">
		
	</insert>
	
	<!-- 식단 수정 -->
	<update id="updateDiet">
	
	</update>
	
	<!-- 식단 삭제 -->
	<delete id="deleteDiet">
	
	</delete>
	
</mapper>
